<div>
  <div>
    <h1>
      <%= @the_board.name %>
    </h1>

    <hr>
  </div>
</div>

<hr>

<h2>Add a new Post</h2>
<form action="/insert_post" method="post">
  <div>
    <label for="title_field">Title</label>
    <input id="title_field" type="text" name="title">
  </div>

  <div>
    <label for="body_field">Body</label>
    <textarea name="body" id="body_field" cols="50" rows="4"></textarea>
  </div>

  <div>
    <label for="expires_on_field">Expires On</label>
    <input id="expires_on_field" type="date" name="expires_on">
  </div>

  <input id="board_id_field" type="hidden" name="board_id" value="<%= @the_board.id %>">

  <button>
    Add Post
  </button>

</form>

<h2>
  Active Posts
</h2>

<% matching_posts = Post.where({ :board_id => @the_board.id }).order({ :expires_on => :asc }) %>

<table border="1px">
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Posted On</th>
    <th>Expires On</th>
  </tr>

  <% matching_posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.body %></td>
      <td><%= post.created_at.strftime("%b %e, %Y") %></td>
      <td><%= post.expires_on.strftime("%b %e, %Y") %></td>
    </tr>
  <% end %>
</table>
